@model List<Follow>

<div id="plist" class="mt-2 people-list">
    <ul class="list-unstyled chat-list mt-2 mb-0">
        @foreach (var user in Model)
        {
            <a asp-action="Index" asp-controller="Profile" asp-route-userName="@user.Followed.UserName">
            <li class="clearfix">
                <img src=@user.Followed.ProfilePicture alt="avatar">
                <div class="about">
                    <div class="name">@user.Followed.FirstName @user.Followed.LastName</div>
                    <div class="status"> <i class="fa fa-circle online"></i> @user.Followed.UserName </div>
                </div>
            </li>
            </a>
        }
    </ul>
</div>
