@model ForgotPasswordDto

@if (ViewBag.State == null)
{
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h3 class="text-center">Şifremi Unuttum</h3>
			<form class="form-group" asp-controller="Account" asp-action="ForgotPassword" method="post">
				<div class="form-group">
					<label>Email giriniz:</label>
					<input asp-for="Email" type="email" class="form-control" />
				</div>
				<div class="text-danger" asp-validation-summary="All"></div>
				<button class="btn btn-info" type="submit">Şifre Sıfırlama linki gönder</button>
			</form>
		</div>
	</div>
}
		
else if (!ViewBag.State)
{
	<div style="height:auto" class="mb-3 alert-danger display-2 font-weight-bold">Böyle bir kullanıcı bulunmamaktadır!</div>
	<a asp-action="ForgotPassword" asp-controller="Account" class="text-center btn btn-danger">Farklı bir Email ile tekrar dene</a>
}
else if (ViewBag.State)
{
	<div style="height:auto" class="alert-danger display-2 font-weight-bold">Şifre sıfırlama linkiniz Email adresinize gönderilmiştir. Lütfen gelen kutunuzu kontrol ediniz.</div>
}