@model ChangePasswordDto


@if (ViewBag.State == null)
{
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h3 class="text-center">Şifremi Unuttum</h3>
			<form class="form-group" asp-controller="Account" asp-action="ResetPassword" method="post">
				<div class="form-group">
					<label>Yeni Şifre:</label>
					<input asp-for="NewPassword" type="password" class="form-control" />
				</div>
				<div class="form-group">
					<label>Yeni Şifreyi Tekrar Giriniz:</label>
					<input asp-for="PasswordConfirm" type="password" class="form-control" />
				</div>
				<div class="text-danger" asp-validation-summary="All"></div>
				<button class="btn btn-info" type="submit">Yeni Şifre Oluştur</button>
			</form>
		</div>
	</div>
}

else if (ViewBag.State)
{
	<div style="height:auto" class="mb-3 alert-danger display-2 font-weight-bold">Parolanız başarıyla güncellendi!</div>
}

else
{
	<div style="height:auto" class="alert-danger display-2 font-weight-bold">Parola güncellenirken beklenmeyen bir hatayla karşılaşıldı!</div>
}
