<script>

    $(function () {
        $("body").on("click", ".messageview", function () {
            var url = $(this).data("target");
            $.post(url, function (data) { })

                .done(function (data) {
                    $("#modelViewForMessages .modal-body").html(data);
                    $("#modelViewForMessages").modal("show");
                })

                .fail(function () {
                    $("#modelViewForMessages .modal-body").text("Opps!!");
                    $("#modelViewForMessages").modal("show");
                })

        });
    })

</script>

<div class="modal fade" id="modelViewForMessages">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h4" id="myModalLabel">Mesaj Gönder</div>
                <button type="button" class="close " data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @*_ListPeople PartialView*@
            </div>
        </div>
    </div>
</div>
