@model List<Follow>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/ChatPage.css" rel="stylesheet" />

@if (Model.Count == 0)
{
    <div>Mesaj gönderebilmek için birilerini takip etmelisin</div>
}
else
{
    <div id="plist" class="mt-2 people-list">
        <ul class="list-unstyled chat-list mt-2 mb-0">
            @foreach (var people in Model)
            {
                <a asp-action="ChatPage" asp-controller="Messages" asp-route-userName="@people.Followed.UserName">
                <li class="clearfix">
                    <img src=@people.Followed.ProfilePicture alt="avatar">
                    <div class="about">
                        <div class="name">@people.Followed.FirstName @people.Followed.LastName</div>
                        <div class="status"> <i class="fa fa-circle online"></i> çevrimiçi </div>
                    </div>
                </li>
                </a>
            }
        </ul>
    </div>
}
