<h1 class="text-center text-danger">Hoşgeldiniz</h1>

<hr />

<h6 class="text-center text-danger">Politter, arkadaşların ve diğer insanlarla keyifli vakit geçirebileceğin bir sosyal medya sitesidir.</h6>

<hr />

<h4>Politter'da neler yapılır?</h4>
	
<ul>
	<li>Metin içerikli paylaşımlar yapabilirsin.</li>
	<li>Arkadaşlarını takip edebilirsin.</li>
	<li>Arkadaşlarınla ve diğer insanlarla mesajlaşabilirsin.</li>
	<li>Gizli mesaj gönder butonuyla gönderdiğin mesajlar veritabanına kaydolmaz, sayfa yenilendiğinde kaybolur.</li>
	<li>Başkalarının paylaştığı gönderileri beğenebilir, altına yorum yapabilir, tekrar aynı içeriği paylaşabilir ve bu gönderiyi arkadaşlarına gönderebilirsin.</li>
	<li>Profilindeki bilgileri doldurarak insanların senin hakkında daha fazla blgi sahibi olmasını sağlayabilirsin.</li>
</ul>

<hr />

<h4>Uyarılar</h4>
<ul>
	<li>Politter, yapılan uygunsuz paylaşımların yayından kaldırılma hakkını saklı tutar.</li>
	<li>Lütfen paylaşım ve yorum yaparken bulunduğunuz ülkedeki yasaları göz önünde bulundurunuz.</li>
	<li>Sitede paylaşılan içeriklerden Politter sorumlu tutulamaz!</li>
</ul>

<hr />

<h4>Verilerinizin gizliliği:</h4>
<ul>
	<li>Politter'a kaydolurken alınan isim, soyisim, e-posta gibi kişisel verileriniz keydedilir ancak hiçbir kimseyle veya kuruluşla paylaşılmaz!</li>
</ul>

