@await Html.PartialAsync("_AllUsersModal")

<div class="row"> 
    <div class="col-md-8 offset-md-2">
        <div class="middle-column">
            <div class="card custombg">  
                <div class="card-body text-center" style="color:#3097d1">
                    <div class="media-body">
                        <br />
                        <h2>Hoşgeldiniz</h2>
                        <br />
                        <h3>Paylaşımları görmek için lütfen giriş yapınız</h3>
                        <br />
                        <a class="btn btn-primary" asp-action="SignIn" asp-controller="Account">Giriş Yap</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <a data-target="/Profile/_ListUsers" data-toggle="modal" class="btn btn-info allusersview" style="width:fit-content">Arkadaşlarını bul</a>
                @*<li class="nav-item mr-3"><a data-target="/Profile/_ListUsers" data-toggle="modal" type="button" class="allusersview nav-link active">Arkadaşını Bul</a></li>*@
            </div>
            <br /> <br /><br /> <br /><br /> <br />
        </div>
    </div>  
</div>



